.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
 
}

body {
  background-color: beige;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: orange;
}
h2 {
margin: 30px;
font-family: 'Lobster', cursive;
text-shadow: 1px 0 #232931;
font-size: 3rem;
color: orange;
}
p {
  font-size: 2rem;
  color:orange;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: orange;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
